export(colaxisGrob)
export(colorbarGrob)
export(diverging_palette)
export(dmatrixGrob)
export(gradient_palette)
export(grid.colaxis)
export(grid.colorbar)
export(grid.dmatrix)
export(grid.rowaxis)
export(grid.stext)
export(grid.tmatrix)
export(heightDetails.colaxis)
export(row_layout)
export(rowaxisGrob)
export(single_panel)
export(stextGrob)
export(tmatrixGrob)
export(widthDetails.colorbar)
export(widthDetails.rowaxis)
